html, body{
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-size: 13px;
  line-height: 1.26666667;
  color: #242729;
  background-color: #ededed;
  padding: 0px;
  margin: 0px;
  max-width: 100vw;
}

.container{
  margin: 0 auto;
  max-width: 100%;
  #height: 100%;
}

.content{
  margin: 0 auto;
  #height: 100%;
}
.view-container{
  padding: 5px 0px;
  #max-width: 100%;
}
.view{
  background-color: #fff;
  padding: 4px;
}

.view-main{
  padding: 0px 5px;
  margin-top: 30px;
  #min-height: 100%;
  max-width: 100%;
}
.view-flexcontainer {
  display: flex;
  flex-direction: row;
  #flex-wrap: wrap;

  align-content: stretch;
  align-items: flex-start;
  width: 100%;
  max-width: 100%;
}
.view-flexcontainer > div{
  transition: width 2s;
}
.view-flexcontainer > .view-flexright{
  padding: 4px;
  max-width: 25%;
  min-width: 25%;
}
.view-flexright:hover{
  #min-width: 30%;
  #max-width: 30%;
}
.view-flexcontainer > .view-flexleft{
  flex-grow: 1;
  padding: 4px;
  flex: 1 0 auto;
  flex-basis: auto;
  #order: 0;
  min-width: 20%;
  max-width: 100%;
  align-self: auto;
}

.container .right{
  max-width: 50%;
}
.container > .left{

}

#navbar{
  width: 100%;
  //min-height: 30px;
  background-color: #fff;
}
.nav-location{
  position: fixed;
  top: 0;
  left: 0;
}
#navbar li{
  display: inline-block;
}
#navbar li::before{
  content:"/";
}
#navbar li::after{
  content:"";
}
#navbar ol{
  margin: 2px;
}
#sidebar{
  width: 100%;
}
#sidebar > div{
  padding: 4px 8px;
  margin-bottom: 10px;
  background-color: #fff;
  min-height: 30px;
  #width: 100%;
}
#sidebar-sticky{

}
#sub-header{
  margin-top: 20px;
  width: 100%;
  min-height: 30px;
}
#sub-header, .title .description{
  font-size: 2em;
}
.highlight-aboveline{
  margin-top: 1em;
  border-top: 1px solid #e4e6e8;
}
.highlight-underline{
  margin-bottom: 1em;
  border-bottom: 1px solid #e4e6e8;
}
.title{
  font-size: 1.2em;
  font-weight: bold;
}
.thread{

}
.tv-link{

}
.tv-overview > div{
  height: 100%;
}
.tv-inline > div{
  height: 40px;
  padding: 2px;
  margin-bottom: 2px;
}
.tv-thumbnail{

}
.large{

}
.full > {

}
.thread-container{

}
.thread-header{

}
.thread-title{
  margin-bottom: .5em;
}

#thread-list{

}
#thread-list > div{

}

div.link-comment{

}
div.link-thread{

}

div.user{

}

div.link{

}

div.post{
  background-color: #CCD2D2;
  border: 1px solid #236167;
  background-color: #f3f3f3;
  border: 1px solid #e4e6e8;

  border-left: 0;
  border-top: 0;
  padding: 4px;
  max-width: 80%;
}

div.message::before{
  content: ">";
}
div.post-inline{

}
div.post > .post-title{
  padding: 4px 10px !important;
}
div.post .post-title:before{
  content: ": ";
}
div.tree{
  display: table;
}
div.post-container > div.post{
  #width: min-content;
  min-height: 30px;
  padding: 4px;
  display: inline-block;
  margin-bottom: 10px;
}

div.card-container{
  border-radius 2px;
}
div.card-container:hover{

}

div.tree-node{
  #display: flex;
  #flex-direction: row;
  display: table;
  width: 100%;
}
div.tree-node > div.post-container{
  display: inline-block;
  width: 100%;
}

div.infobar > span{
  font-size: 0.9em;
}
div.indent-container{
  #display: inline;
  display: table-cell;
  height: 100%;
}
div.sizer{
  #height: 100%;
}
div.tree-node > div{
  vertical-align: top;
  display: table-cell;
}
div.tree-node div.post-cascade{
  margin: 4px 0px !important;
}
div.tree-node div.post{
  background-color: white;
  border: 0px;
  padding: 2px;
  margin: 0px 2px;
}
div.first-post{
  width: 100%;
  #background-color: blue;
}
div.first-post .cascade-indent{
  border-left: 1px #fff;
  margin-bottom: 5px;
}
div.first-post > div.post-container:hover{
  border: 0px;
}
div.card-shadow{
  -webkit-box-shadow: 0px 3px 5px 0px rgba(191,191,191,1);
  -moz-box-shadow: 0px 3px 5px 0px rgba(191,191,191,1);
  box-shadow: 0px 3px 5px 0px rgba(191,191,191,1);
}
div.node-indent{
  width: 8px;
  height: 100%;
  display: inline-block;
  margin-left: 8px;
  border-left: 1px solid #ededed;
}
.cascade-indent{
  margin-left: 18px;
  border-left: 1px solid #ededed;
}
div.cascade-indent:hover{
  border-left: 1px solid #ffd;
}
div.post-container > .private{
  #background-color: #FFA3A3;
  border-left: 2px solid #FFA3A3;
}
div.post-container > .link-sub.padding{
  min-width: 100px;
}
div.post-container > .locked{
  border-left: 2px solid orange;
}
div.post-container > .thread-link:hover{
  cursor: pointer;
}
div.post:hover .action{
  opacity: 1;
}

div.post-cascade{
  margin-left: 10px;
}
div.post > div.post-paragraph{
  padding: 0px 8px;
}
div.post > div.post-message{
  padding: 4px 4px;
  font-size: 1.05em;
  #word-break: break-word;
  word-break: break-all;
}

div.reply{

}

.infobar > span{
  padding: 2px 4px;
}
.infobar > .date{
  color: #868686;
}
.infobar.date{
  color: grey;
}
.user.action{
  opacity: 0.0;
}
.user.action:hover{
  opacity: 1;
}
.user.action:before{
  content: "+";
}
.hoverable:hover{
  text-decoration: underline;
}
.clickable:hover{
  text-decoration: underline;
  cursor: pointer;
}
.comment{
  width: 100%;
  min-height: 30px;
  margin-bottom: 5px;
  background-color: red;
}
.infobar > .user-mod{
  color: green;
}
.infobar{

}
.infobar > .id{
  padding: 2px;
  display: block;
}
.infobar > .id{

}
.user-mod::after{
  content: " [M]";
}

.user-admin{
  color: red !important;
}
.user-admin::after{
  content: " [A]";
}

.infobar > .user{
  color: blue;
}
.vote{

}
.input{

}

.data-source{

}
.data-url{

}
.data-author{

}
