input[type=text] {
  width: 100%;
  #padding: 12px 20px;
  padding: 6px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 0px;
  border-bottom: 1px solid #e4e6e8;
}
input[type=text] {
  #background-color: #3CBC8D;
  color: white;
}
input[type=text]:focus {
    background-color: lightblue;
}

.input-container{
  padding: 5px;
  border-bottom: 1px solid #e4e6e8;
}
.input-container > .input-row{
  padding 5px;
}
.input-container > .input-button.input-send{

}


.button {
    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 5px;
    min-width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
