@keyframes a_textFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.textFadeIn{
  animation-name: a_textFadeIn;
  animation-duration: 2s;
}

.card-shadow-1 {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15);
}

.a-bar{
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ddd;
}

.a-gradient-dark{
  background: linear-gradient(270deg, #2800ff, #00aeff);
}
.a-gradient-light{
  background: linear-gradient(270deg, #ffffff, #a0e1ff);
  ##00aeff);
}
.a-gradient-base{
  background-size: 400% 400%;
  -webkit-animation: a-gradientBase 30s ease infinite;
  -moz-animation: a-gradientBase 30s ease infinite;
  animation: a-gradientBase 30s ease infinite;
}
@-webkit-keyframes a-gradientBase {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes a-gradientBase {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes a-gradientBase {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
