.post-message{
  font-size: 0.9em;
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;

  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.post-message::empty{
  height: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: orange;
  z-index: 1;
  content: '.';
  border-radius: 2em;
}

body {
  background-color: #ededed;
}

._post-message{
  word-break: break-word;
  overflow-wrap: break-all;
  white-space: nowrap;
}

@-moz-document url-prefix() {
  .post-message{
    word-break: break-all !important;
    overflow-wrap: break-all;
  }
}
.tree-node{
  padding-top: 2px;
  padding-bottom: 2px;
  #margin-bottom: 1em;
}

.placehold:empty
{
  background: #ededed;
  border-radius: 0.5em;
  #min-height: 1.3em;
  #margin-top: 0;
  #margin-bottom: 1rem;
  #padding: 0.5em;

  background: linear-gradient(271deg, #ffffff, #989898, #b6b6b6);
  background-size: 600% 600%;
  -webkit-animation: a-animation-loading-pesudo 1s ease infinite;
  -moz-animation: a-animation-loading-pesudo 1s ease infinite;
  animation: a-animation-loading-pesudo 1s ease infinite;
}
.placehold:empty:before{
  content: "\00a0";
  #visibility: hidden;
}
.placehold.ph-small:empty{
  min-width: 100px;
  display: inline-block;
}
.placehold.ph-multiline:empty{
  min-height: 6em;
}
.placehold.ph-multiline-md:empty{
  min-height: 12em;
}

.btn-group.fit {
  display: flex;
  justify-content: center;
}
.btn-group.fit > .btn {
  flex-grow: 1;
}

.page-nav-indent #sub-view,
  .page-nav-indent #sidebar{
  padding-top: 50px;
  padding-top: 1em;
}
.indent{
  margin-left: 1em;
  padding-left: 10px;
  border-left: 2px solid #ededed;
}
.tree-node > .post-container{
  padding-bottom: 2px;
  padding-bottom: 5px;
}
@media only screen and (max-width: 1080px){
  .tree-node{
    margin-left: 0.20em;
    #border-left: 1px solid #ededed;
  }
  body, .post, .post-message, #sidebar{
    #font-size: 0.95em !important;
  }
}
@media only screen and (min-width: 800px){
  html{
    overflow-y: scroll;
  }
}
@media only screen and (min-width: 1080px){
  .main-wrapper{
    margin: 0px 2em;
    margin-left: 2em;
    margin-right: 1em;
  }
  .embed-adaptive{
    margin: auto;
    max-width: 70% !important;
  }
  .embed-container{
    max-width: 100%;
    background-color: black;
  }
  aside{
    margin-right: 1em;
  }
}
img{
  max-height: 50vh;
}
.jumbotron.thin{
  padding: 0.2em 0.2em !important;
}
.infobar > .name.user{
  color: #007bff;
}
.reply{
  color: #f44336;
}
.delete{
  color: #f4a136;
}
.quote-post{
  color: #f44336;
}
.user.moderator::after{
  content: " [M]";
}
.user.admin{
  color: red !important;
}
.user.admin::after{
  content: " [A]";
}
.user.action:before{
  content: "+";
}
.user:before{
  #content: "@";
}
.container-fluid.skinny{
  padding-left: 2px;
  padding-right: 2px;
}
#thread-post-container{
  #padding-bottom: 1em;
}
#thread-title::before{
  content: "# ";
}
#thread-inner{
  margin-left: 1vw;
  margin-right: 5vw;
}
#thread-content{
}
#sidebar{
  overflow-y: auto;
  max-height: 98vh;
}
#sidebar.sticky-top{
  top: 50px;
  top: 20px;
}
#sidebar .card{
  #margin-bottom: 1em;
}
#sub-view{
  #border-right: 1px solid blue;
}
.infobar.thread{
  margin-top: 8px;
}
.infobar > span{
  padding: 2px 4px;
  font-size: 0.9em;
}
.infobar > span.badge-pill-small{
  font-size: 0.7em;
}
.infobar > .user-mod::after{
  content: " [M]";
}
.infobar > .date{
  color: #868686;
}
.infobar > .id{
  padding: 2px;
  display: block;
}
.hoverable:hover{
  text-decoration: underline;
}
.clickable:hover{
  text-decoration: underline;
  cursor: pointer;
}
.showmore{
  color: #007bff;
  font-weight: bold;
}
.sidebar-pad{
  margin-top: 1em;
}
.badge-pill-small{
  border-radius: 0.2rem;
  font-size: 0.6rem;
}
.footer{
  margin-top: 0.5em;
  padding-top: 0.5em;
  border-top: 1px grey;
}
.infobar .clickable{
  opacity: 0.5;
  transition: opacity 0.4s;
}
.post-container img.small{
  background-color: black;
  width: 32px;
  height: 32px;
  border-radius: 0.5em;
}
.post-container img.medium{
  width: 64px;
  height: 64px;
}
.square{
  #border: 1px solid #dee2e6!important;
  #border-radius: 0.5em;
  #margin: 10px;
  #padding: 10px;
}
.post-container.infobar,
  .post-container .delete,
    .post-container .reply,
      .post-container .minimise{
  opacity: 0;
  transition: opacity 0.4s;
}
.post-container:hover .clickable{
  opacity: 1;
}
.post-container.link:hover{
  #box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.infobar-margin-transition-exp{
  #transition: margin 0.5s;
  #margin-left: -1px;
  #margin-left: 0px;
}

.loader {
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ddd;
}
.loader:before{
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: #2980b9;
  animation: a-loading 2s linear infinite;
}

@keyframes a-loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}

[data-toggle="collapse"]:after {
display: inline-block;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  content: "\f054";
  transform: rotate(90deg) ;
  transition: all linear 0.25s;
  }
[data-toggle="collapse"].collapsed:after {
  transform: rotate(0deg) ;
}


.animation-loading-pesudo{
  background: linear-gradient(254deg, #ffffff, #989898);
  background-size: 400% 400%;
  -webkit-animation: a-animation-loading-pesudo 1s ease infinite;
  -moz-animation: a-animation-loading-pesudo 1s ease infinite;
  animation: a-animation-loading-pesudo 1s ease infinite;
}

@-webkit-keyframes a-animation-loading-pesudo {
    0%{background-position:0% 67%}
    50%{background-position:100% 34%}
    100%{background-position:0% 67%}
}
@-moz-keyframes a-animation-loading-pesudo {
    0%{background-position:0% 67%}
    50%{background-position:100% 34%}
    100%{background-position:0% 67%}
}
@keyframes a-animation-loading-pesudo {
    0%{background-position:0% 67%}
    50%{background-position:100% 34%}
    100%{background-position:0% 67%}
}
